<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <title>Added new contact</title>
</head>
<body>
  <div class="container">
    <h1>You created a contact!</h1>
    <div class="row">
      <div class="col-md-3 box">
        <p><strong>Name:</strong> {{ contact["name"] }}</p>
        <p><strong>Phone:</strong> {{ contact["phone"] }} </p>
        <p><strong>Address:</strong> {{ contact["address"] }} </p>
      </div>
    </div>
  </div>
  <form class="center" action="/">
    <button type="submit" class="btn-normal">Return Home</button>
  </form>
</body>
</html>
