<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <title>Deleted all contacts</title>
</head>
<body>
  <div class="container">
    <h1>Address book cleared!</h1>
  </div>
  <form class="center" action="/">
    <button type="submit" class="btn-normal">Return Home</button>
  </form>
</body>
</html>
