<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <title>Hangman</title>
</head>
<body>
  <div class="container">
    <h1>Hangman Game History</h1>
    <div class="row">
    {% for game in games %}
      <div class="col-md-3 box">
        <p><strong>Player:</strong> {{ game.getPlayer }}</p>
        <p><strong>Won?</strong> {{ game.getLoser ? "No" : "Yes" }}</p>
        <p><strong>Total Guesses:</strong> {{ game.getTotalGuess }}</p>
        <p><strong>Word:</strong> {{ game.getWord }}</p>
      </div>
    {% endfor %}
    </div>
  </div>
  <form class="center" action="/hangman" method="post">
    <div class="row">
      <div class="form-group col-lg-4">
        <label for="name">Enter name:</label>
        <input id="name" name="name" type="text" maxlength="20" required>
      </div>
    </div>
    <button type="submit" class="btn-primary">New Game</button>
  </form>
  <form class="center" action="/delete_games">
    <button type="submit" class="btn-danger">Delete All</button>
  </form>
  </p>
</body>
</html>
